@import "ui-variables";

* {
	box-sizing: border-box;
}

atom-workspace {
  background-color: @app-background-color;
}

.settings-view {
	.section {
		background-color: @app-background-color;
	}
	.config-menu {
		background-color: @app-background-color;

		.nav > li {

			&.active > a {
				background-color: @background-color-selected;
			}

			&:hover > a {
				background-color: darken(@background-color-selected, 3%);
			}
		}
	}
	.form-control {
		background-color: @app-background-color;
	}
}

.scrollbars-visible-always {
  /deep/ ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /deep/ ::-webkit-scrollbar-track,
  /deep/ ::-webkit-scrollbar-corner {
    background: @scrollbar-background-color;
  }

  /deep/ ::-webkit-scrollbar-thumb {
    background: @scrollbar-color;
    border-radius: 5px;
    box-shadow: 0 0 1px black inset;
  }
}
