@import "ui-variables";
@import "ui-mixins";

.btn {
  color: @text-color-subtle;
  background: darken(@app-background-color, 2%);
  background-image: none;
  font-weight: 500;
  border-radius: @button-radius;
  border: none;

  // Get rid of ugly blue border.
  &:hover, &:active, &:focus {
    background-image: none;
    box-shadow: none;
    outline: 0;
  }

  &:active, &:focus {
    color: @text-color-subtle;
    background: darken(@app-background-color, 2%);
  }

  &:hover {
    color: @text-color;
    background: darken(@background-color-selected, 3%);

    &:active, &:focus {
      color: @text-color;
      background: @background-color-selected;
    }

    &:focus:not(:active) {
      color: @text-color;
      background: darken(@background-color-selected, 3%);
    }
  }

  &.selected {
    background-color: darken(@background-color-selected, 2%);

    &:hover {
      background-color: @background-color-selected;
    }
  }

  &.btn-primary {
  }

  &.btn-info {
  }

  &.btn-success {
    color: @text-color-success;
    background: @background-color-success;
  }

  &.btn-warning {
    color: @text-color-modified;
    background: @background-color-modified;
  }

  &.btn-error {
  }
}

.caret {
  border-top: 5px solid #fff;
  margin-top: -1px;
}
