@import "ui-variables";

.tree-view {
  font-size: 12px;
  background: @tree-view-background-color;
  padding: 5px 0 5px 5px;

  .selected {
    color: @text-color;
    background-color: @background-color-selected;

  }

  .list-tree .list-item {
    opacity: 0.2;

    &.selected {
      opacity: 0.9;
      background-color: @background-color-selected;
      border-radius: 4px;
      margin-right: 5px;

      &.status-modified {
        color: @text-color-modified;
        background-color: @background-color-modified;

        & > .name {
          color: inherit;
        }
      }

      &:before {
        background: none;
      }
    }

    &:before {
      background: none;
    }
  }

  &:hover .list-item {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &.selected {
      opacity: 1;
    }
  }
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}

.focusable-panel {
  // opacity: 1;
  // box-shadow: inset -3px 0 0 rgba(0,0,0, .05);

  &:focus {
    background: @app-background-color;

    .selected:before {
      background: @background-color-selected;
    }
  }
}

[data-show-on-right-side=true] {
  .tree-view .selected:before,
  .focusable-panel {
    box-shadow: inset 3px 0 0 rgba(0,0,0, .05);
  }
}
