@import "ui-variables";

.tree-view {
  font-size: @font-size;
  background: @tree-view-background-color;
  padding: 15px 0 5px 15px;

  // HACK: Overrides a default thin black shadow.
  box-shadow: none;

  .list-item {
    opacity: 0.2;
    transition: opacity 0.2s ease-out;
  }

  .entry {

    &.file, &.directory > .header {
      padding: 0 10px;
      line-height: 24px;
    }

    &.directory > .header::before {
      background-color: transparent;
    }

    &.selected {

      &.file, &.directory > .header {
        opacity: 0.9;
        background-color: @background-color-selected;
        border-radius: 4px;
        margin-right: 5px;
        margin-top: 0px;

        & > .name {
          color: saturate(@text-color, 30%);
          font-weight: 400;
        }
      }

      &.status-modified {

        &.file, &.directory > .header {
          background-color: @background-color-modified;

          & > .name {
            color: @text-color-modified;
          }
        }
      }

      &::before {
        background: none;
      }
    }

    &::before {
      background: none;
    }
  }

  &:hover .list-item {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &.selected {
      opacity: 1;
    }
  }
}

.tree-view-resizer .tree-view-resize-handle {
  background: none;
  width: 12px;
}
