@import "ui-variables";

.tree-view {
  font-size: @font-size;
  background: @tree-view-background-color;
  padding: 15px 0 5px 15px;

  // HACK: Overrides a default thin black shadow.
  box-shadow: none;

  .list-item {
    opacity: 0.2;
  }

  .entry {

    &.file, &.directory > .header {
      padding: 0 10px;
      line-height: 24px;
    }

    &.directory > .header::before {
      background-color: transparent;
    }

    &.selected {

      &.file, &.directory > .header {
        opacity: 0.9;
        color: @text-color;
        background-color: @background-color-selected;
        border-radius: 4px;
        margin-right: 5px;
        margin-top: 0px;
      }

      &.status-modified {

        &.file, &.directory > .header {
          color: @text-color-modified;
          background-color: @background-color-modified;
        }

        & > .name {
          color: inherit;
        }
      }

      &::before {
        background: none;
      }
    }

    &::before {
      background: none;
    }
  }

  &:hover .list-item {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &.selected {
      opacity: 1;
    }
  }
}

.tree-view-resizer .tree-view-resize-handle {
  opacity: 0;
  background-color: darken(@app-background-color, 5%);
  width: 12px;
  transition: opacity .2s ease-out;

  &:hover, &:active {
    opacity: 0.15;
  }
}
